@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}

	.menu-icon {
		display: none;
	}
	.nav-right a {
		text-decoration: none;
	}
	.sign-in-button {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		width: 140px;
		height: 36px;
		background-color: #6366f1;
		border-radius: 4px;
	}
	.sign-in-text {
		color: #fff;
	}
	.main-title-desktop {
		display: flex;
		flex-direction: column;
		color: var(--primary-text-color);
		text-align: left;
		font-size: 56px;
		font-weight: 800;
		line-height: 130%;
		max-width: 525px;
		margin-bottom: 1rem;
	}
	.main-title {
		display: none;
		text-align: left;
		font-size: 56px;
		line-height: 130%;
		max-width: 526px;
	}
	.main-content {
		display: flex;
		flex-direction: row;
	}
	.main-content-image {
		display: none;
	}
	.main-content-image-desktop {
		display: flex;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	*/ .app-buttons {
		gap: 1.5rem;
	}
	.app-link {
		width: 180px;
		height: 52px;
		/* margin-bottom: 11rem; */
	}
	.main-description {
		width: 525px;
	}

	.discover {
	}
	.brands-tablet {
	}
	.brand:nth-child(5n) {
		display: flex;
	}
	.brand:nth-child(6n) {
		display: flex;
	}
	.brands-desktop {
		display: inline-flex;
		margin-top: 96px;
		margin-bottom: 112px;
		margin-left: 0.8rem;
	}
	.mobilepage2 {
		display: flex;
		margin-bottom: 112px;
	}

	.main-page2 {
		display: flex;
	}
	.features {
		margin-bottom: 156px;
		margin-left: 202px;
	}
	.lorem {
		margin-left: 202px;
		text-align: left;
	}
	.features-title {
		margin-right: 16.5rem;
		text-align: left;
		font-size: 40px;
	}

	.step3 {
		display: none;
	}
	.Transfers {
		display: none;
	}
	.latest-transaction {
		display: flex;
		font-size: 24px;
	}
	.how-small {
		display: none;
	}
	.how-small-desktop {
		display: flex;
		width: 636px;
		line-height: 160%;
	}
	.bigphone {
		display: none;
	}
	.bigphone-desktop {
		display: flex;
		gap: 100px;
	}

	#page4-desktop {
		display: flex;
		background-color: #fff;
	}

	#page5-desktop {
		display: flex;
		background-color: #f3f6ff;
	}
	.simple-top {
		display: flex;
		gap: 134px;
	}
	.top-1-left {
		display: flex;
		flex-direction: column;
		width: 416px;
		margin-top: 211px;
		margin-left: 6rem;
	}
	.top-1-left h2 {
		text-align: left;
		margin-bottom: 2rem;
		font-size: 32px;
		font-weight: 800;
		color: #0b0f19;
	}
	.check-functions {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	.checks {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	.checked-text {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.learn-more-button {
		background-color: #6366f1;
		margin-top: 4rem;
		color: #fff;
		text-align: center;
		border-radius: 0.5rem;
		width: 159px;
		height: 44px;
		border: none;
		img {
			margin-left: 1rem;
		}
	}
	.bottom-1-left {
		margin-left: 6rem;
	}
	.top-1-right {
		margin-top: 112px;
	}

	.simple-bottom {
		display: flex;
		gap: 24px;
		margin-top: 80px;
	}
	.bottom-1-right {
		margin-left: 24px;
	}
	.bottom-1-right h2 {
		display: block;
		text-align: left;

		color: #0b0f19;
		font-size: 32px;
		font-weight: 800;
		width: 526px;
	}
	.payments-icons {
		display: flex;
		gap: 215px;
		justify-content: flex-start;
		margin-top: 40px;
		margin-bottom: 1rem;
	}
	.payments-icons img {
		background: #f3f6ff;
		padding: 20px;
		border-radius: 8px;
	}
	.payments-underline {
		display: flex;
		gap: 40px;
	}
	.payments-underline p {
		width: 243px;
	}

	.our-clients {
		display: flex;
		justify-content: center; /* Centrerar testimonials på sidan */
		align-items: flex-start; /* Justerar rubriken högre upp */
		margin-top: 80px;
		gap: 2rem; /* Mellanrum mellan korten */
	}

	.clients {
		margin-bottom: 2rem;
		h2 {
			text-align: left;
			font-weight: 800;
			max-width: 250px;
			margin: 0;
		}
	}

	.review {
		background-color: #fff;
		padding: 2rem;
		max-width: 416px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		border-radius: 8px; /* Rundar hörnen för att matcha designen */
		position: relative;
		margin-bottom: 2rem;
	}

	.review::before {
		content: '';
		position: absolute;
		top: -20px; /* Justera avståndet ovanför kortet */
		left: 20px;
		width: 24px;
		height: 24px;
		background-image: url('../../assets/quotes.svg');
		background-size: cover;
	}

	.stars {
		margin-top: 1rem;
	}

	.review p {
		margin: 1.5rem 0;
		font-size: 18px;
		color: #333; /* Justera färgen för bättre kontrast */
	}

	.reviewer {
		display: flex;
		align-items: center;
		margin-top: 1rem;
	}

	.reviewers-info {
		display: flex;
		flex-direction: column;
		margin-left: 1rem;
	}

	.reviewers-info .name {
		color: #0b0f19;
		font-weight: 600;
	}

	.reviewers-info .profession {
		color: #9397ad;
		font-size: 14px;
	}
	.quotes {
		position: absolute;
		top: -10%;
		left: 5%;
		z-index: 1;
	}

	.contact-desktop {
		display: flex;
		justify-content: center;
	}
	.contact-desktop .container {
		display: none;
	}
	.contact-tablet {
		grid-column: 1;
		h4 {
			font-size: 14px;
		}
	}
	.contact-option {
		display: flex;
		align-items: center;
		height: 44px;
	}
	.contact-us {
		font-size: 14px;
	}
	.contact-us img {
		height: 24px;
		width: auto;
	}
	.contact-us p {
		margin-bottom: 0;
	}
	#page4 {
		padding-top: 112px;
	}
	.questions-introduction {
		display: flex;
		flex-direction: column;
		text-align: left;
		margin: 0;
		max-width: 416px;
		h2 {
			line-height: 130%;
			max-width: 340px;
		}
	}
	.questions-introduction h2 {
		text-align: left;
		margin: 0;
		font-size: 32px;
		font-weight: 800;
		margin-bottom: 2rem;
	}
	.questions-introduction p {
		margin-bottom: 40px;
	}

	.subscribe-wrapper {
		background-color: #f3f6ff;
		justify-content: space-evenly;
	}

	.subscribe-text {
		justify-content: center;
		font-size: 24px;
	}
	.extra-text {
		display: flex;
		font-size: 24px;
		font-weight: 800;
		color: #0b0f19;
		margin-left: 2rem;
	}
	.faq-list {
		margin-right: 0;
	}
	.faq-grid {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
		grid-template-rows: minmax(0px, min-content) 1fr;
		width: 100%;
	}

	/* faq-list grid cell styles */
	.faq-grid-cell:nth-child(2) {
		grid-column: 2;
		grid-row: 1 / 3;
	}


}
