.forgot-password-page {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.forgot-password-content {
	margin-block: 2rem;
	background-color: #f3f6ff;
	width: 50vh;
	height: 50vh;
	border-radius: 0.5rem;
	text-align: center;
	width: 50vw;
  p {
    margin-top: 2rem;
  }
}
.reset-btn {
	padding: 0.2rem;
	align-self: center;
	border: none;
	border-radius: 0px 8px 8px 0px;
  
	background-color: #6c5ce7;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
}
.reset-email-input {
  width: 80%;
	display: flex;
	justify-self: center;
  height: 2rem;
  margin-top: 2rem;
}
